.content-wrapper {
  > div {
    padding: $space-lg;
    display: flex;
    padding-top: 0;
    h3 {
      width: 30%;
    }
  }
  > div:not(:first-of-type) {
    border-top: 1px solid $gray-1;
    padding-top: $space-lg;
  }
  .owners {
    .owner.primary {
      color: $accent;
    }
  }
}
